/**
Theme: My Theme
Author: Cristian Gogoasa
*/

body{
    font-family: "Cascadia Code", monospace;
    font-size: 18px;
    text-align: justify;
}

header{
    background: #000000;
    font-weight: bold;
    width: 100%;
    height: 250px;
    color: white;
}

header h1{
    font-size: 24px;
}

header ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header .top-bar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header ul ul {
    display: none;
    position: relative;
}

header .top-bar li {
    margin-right: 100px;
    padding-top: 70px;
    font-size: 32px;
    box-sizing: content-box;
}

header .top-bar > li a:hover{
    color: #0a53be;
}

header .top-bar > li a{
    color: white;
    text-decoration: none;
}

header .top-bar > li a:active{
    color: white;
}

form input {
    font-size: 14px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

header .top-bar > li a:active{
    color: black !important;
}

header ul ul {
    display: none;
    position: relative;
    left: -5%;
}

textarea{
    resize: none;
    border-radius: 0;
}

p{
    word-break: break-word;
}

div .carousel-inner{
    max-height: 700px;
    width: auto;
}

.carousel-caption{
    top: 40%;
    bottom: 50%;
    background-color: rgba(0, 0, 0, 0.75);
}

.carousel-container{
    margin-bottom: 5%;
}

.title{
    font-size: 30px;
    font-weight: bold;
}

.sub-menu {
    background: black;
    padding-left: 10px;
    padding-right: 10px;
    top: -5%;
}

.footer-text{
    font-size: 14px;
    color: black;
    padding-left: 1.5%;
}

.container{
    padding-top: 1.5%;
}

.container .row{
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container .post-title{
    margin-top: 1.5%;
    font-size: 30px;
    font-weight: bold;
}

.page-wrap .container{
    font-size: 18px;
}

.page-wrap{
    padding: 1.5% 1.5%;
}

.comment-form-comment label{
    display: none;
}

.home-link:hover{
    color: #0a53be;
}

.home-link:active{
    color: #ffffff;
    text-decoration: none;
}

.home-link:visited{
    color: #ffffff;
    text-decoration: none;
}

.home-link{
    text-decoration: none;
    color: #ffffff;
}

#image-paragraph{
    display: inline;
    font-size: 43px;
    text-decoration: none;
}

#logo {
    width: 100px;
    height: 100px;
    z-index: 999;
    position: relative;
}

#readmore-button:hover{
    color: #0a53be;
}

#readmore-button{
    margin-top: 10px;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    border-radius: 0px;
}

#submit-button:hover{
    color: #0a53be;
}

#submit-button{
    margin-top: 10px;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    border-radius: 0px;
}

#comment {
    resize: none;
    width: 100%;
}

#commentform {
    width: 65%;
}